 @font-face {
      font-family: 'Lato';
     
      src:url('Lato-Regular.ttf') format('truetype'),url('Lato-Light.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

.navlogo{
	width: 50px;
	height:50px;
	border-radius: 50%;
}
nav{
	position: fixed;
	top: 0;
	height: 50px;
	padding: 10px 15px;
	left: 0;
	right: 0;
	width: 100%;
	z-index:5;
	background:#5cb;
	overflow:hidden;
	display: flex;

}
@media(max-width:450px){
	nav{
		height: 40px;
	}
	.navlogo{
	width: 40px;
	height:40px;
	
	}
}
.desktoplink{
	color: #fff;
	display:none;
	position: absolute;
	right: 10%;
	bottom: 10%;

}
.desktoplink li,.mylinks li{
	color: #fff;
	margin: 5px;
	list-style: none;
}
.ico{
	font-size: 20px;
}
.mylinks{
	display: inline-block;
	margin: 20px;

	position: absolute;
	top: 4%;
	height: 75%;
	width: 100%;

	padding: 12.5%;

}
.modalmenu .closebtn , .mylinks span{
	color: #fff;
	font-size: 2em;
	position:absolute;
	top: 2%;
	right: 4%;
	color: #fff;
}
.mylinks li{
	
	width: 50%;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
   
    padding-right: 10px;
}
.mylinks li a {
	width: 80%;
	 color: inherit !important;
	background: transparent !important; 
}
.modalmenu{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
	background: rgba(0,0,0,0.9);
	animation-name: er;
	animation-duration: .6s;
	animation-iteration-count: 1;
}
@keyframes er{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.desktoplink li a ,.mylinks li a {
	color: #fff;
	
	text-decoration: none;
	padding: 5px;
	font-family: Lato,'sans-serif';
	margin-left: 2px;
    margin-right: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    transition: .7s;
    border-radius: 10px;
}
.desktoplink li a:hover,.mylinks li:hover{
	background:  rgba(255, 255, 255, 255);
	color: #5cb;
}
.desktoplink li a i,.mylinks li a i {
	padding-right: 5px;
}
.toggler-icon {
	display: inline-block;
    width: 1.5EM;
    height: 1.5em;

    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");


}
.toggler{
	position: absolute;
	right: 10%;
	bottom: 10%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
   
    
    border-radius: 0.25rem;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: none;
}
@media(min-width: 450px){
	.desktoplink{
		display: flex !important;
	}
	.toggler{
		display: none !important;
	}
}
@media(max-width: 450px){
	.desktoplink{
		display: none !important;
	}
	.toggler{
		display: block !important;
	}
}